
		
.oculta{
		
		display:none;				
}

.tablaInicial{

		width: 100%;
		height: 100vh;
		text-align: center;
		border-color: #1E3FDA;
		background-color: #1E3FDA;
		display: ;
		font-size:0.8em;
		font-family: 'Bungee', cursive;
}
.tablaDia{

		width: 100%;
		height: 30vh;
		text-align: center;
		background-color: #1E3FDA;
		display: ;
		font-size:0.8em;
		font-family: 'Bungee', cursive;

}
.encabezado{

	text-decoration: none;
	font-size:1.6em;
	color: #F3FA46;
	font-family: 'Bungee', cursive;

}

td{	
	background-color: #F3FA46;
	font-family: 'Bungee', cursive;
}
th{

	color: #FFFFFF;
	font-size: 1.9em;
	font-family: 'Bungee', cursive;
}
.dia{

	width: 100%;
	height: 100vh;
	font-family: 'Bungee', cursive;
}
.ciudad{

	background-color: #8A9BEA;
	font-size: 1.4em;
	font-family: 'Bungee', cursive;
}
a{
    text-decoration: none;
    color: #232739;
    font-family: 'Bungee', cursive;
}
img{

	float: right;
	width: 30%;
	height: 30%;
	margin: 6%;
	
}
h2{

	margin-left: 3%;
	font-size: 1.3em;
	color: #232739;
	font-family: 'Bungee', cursive;
}
.max{

	margin-left:20%;
	font-size: 2em;
	color: #E32929;
	font-family: 'Bungee', cursive;
}
h3{
	margin-left:20%;
	font-size: 2em;
	color: #29C4E3;
	font-family: 'Bungee', cursive;
}
h4{
	margin-left: 3%;
	font-size:1em;
	color: #232739;
	font-family: 'Bungee', cursive;
}