<?xml version="1.0" encoding="UTF-8"?>

	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.phonegap.example"
		versionCode="10"
		version   = "1.0.0">

		<!-- Nombre de la app -->
		<name>Forecast</name>
		<!-- Descripcion -->
		<description>App realizada para una practica de Desarrollo en entorno cliente. muesta el tiempo durante una semana en Alcobendas.</description>
		<!-- Autor de la app -->
		<author href="" email="ivanruizde25@gmail.com">Ivan Ruiz de la Hermosa Santos</author>
		<!-- Icono que tendra la app -->
		<icon src="img/nevado.png" />
	
		<!-- plataformas en las que se podra utilizar la app -->
		<platform name="ios">
		</platform>
		<platform name="android">
		</platform>
		<platform name="winphone">
		</platform>
		<!--    -->
		<!-- Permisos de acceso a internet -->
		<access origin="http://api.openweathermap.org/" />

		</widget>